.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.register-container {
    
    align-items: center;
    
    width: 90%;
    max-width: 400px;
    height: auto;
    gap: 30px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    
    background-color: #f6f6f6;
    box-shadow: 3px 3px 10px #420361;

}

.register-container h3 {
    margin-top: 3vh;
    font-size: 25px;
    font-weight: bold;
    color: #0B2739;
    text-align: center;
}

.btn-backPage {
    height: 35px;
    border-radius: 10px;
}

.register-container a {
    text-decoration: none;
    position: absolute;
    color: #660099;
    width: 35px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
}

.register-container small {
    color: #0B2739;
    font-size: 14px;
}

