@font-face {
  font-family: VivoTypeLight;
  src: url('./assets/fonts/Vivo_Type/Vivo_Type_MID-017370_D-015255/Web_Fonts/VivoTypeW05-Light.woff');
}

@font-face {
  font-family: VivoTypeBold;
  src: url('./assets/fonts/Vivo_Type/Vivo_Type_MID-017370_D-015255/Web_Fonts/VivoTypeW05-Bold.woff');
}

@font-face {
  font-family: VivoTypeRegular;
  src: url("./assets/fonts/Vivo_Type/Vivo_Type_MID-017370_D-015255/Web_Fonts/VivoTypeW05-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: none;
  font-family:VivoTypeRegular;
}

:root {
  --vivo-red: #cc1f59;
  --vivo-darkred: #972a1d;
  --vivo-green: #99cc33;
  --vivo-lightyellow: #f2ca50;
  --vivo-yellow: #ff9900;
  --vivo-gray: #666666;
  --vivo-lightgray: #d9d9d9;
  --vivo-pink: #eb3d7d;
  --vivo-purple: #660099;
  --vivo-lightpurple: #efe5f4
}