.header-perfil{
  display: flex;
  align-items: center;
  background-color: #6f2b92;
  border-radius: 30px;
  padding: 1rem;
  font-size:smaller;
}

.icon-usuario {
  display: flex;
  width: 25%;
  width: 28%;
}

.info .subinfo, .exp-perfil{
  margin-left: 1rem;
  color: #fff;
}

.coin{
  width: 7%;
  display: flex;
  margin-left: 1rem;
  margin-right: 0.4rem;
}

  .coin-valor{
    display: flex;
    align-items: center;
    color: #fff;

  }

.subinfo-progresso {
  display: flex;
  align-items: center; 
  color: #fff;
}

