.botoesdenavegacao {
    width: 48%;
    display:inline;
    padding: 0;
    text-align: center;
}

.botoesdenavegacao:hover {
    background-color: #ffffff;
}

.Navmenu {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 50%;
    left: 25%;
    align-items: center;
    border-radius: 10px;
    background-color: #d9d1dd;
}

.icon{
    width: 34px;
    display: flex;
    margin-left: 32%;
}
