.botoesdenavegacao {
    width: 48%;
    display:inline;
    text-align: center;
    font-family:"Roboto", sans-serif;
}

.botoesdenavegacao :active{
    background-color: #4d24d6;
}

.Navmenu {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 49%;
    left: 25.5%;
    align-items: center;
    border-radius: 4px;
    background-color: #f6f6f6;
}

.icon{
    width: 34px;
    display: flex;
    margin-left: 40%;
    margin-top: 2%;
}

