.table {
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
    border-top-style:double;
    margin-top: 15%;
    
  }

 td {
    padding-inline-start: 2%;
    background-color: #d0cccc;
    border:  solid rgb(255, 255, 255);
    padding:  10px;
   
  }

  
 .linhas {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    padding-inline-start: 2%;
    background-color: #d0cccc;
  }

  
  td:last-of-type {
    text-align: center;
  }

  .bloqueado {
    color: red;
  }
