#pag-desafios{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
}


/* #pag-desafios2{
  display: flex;
  flex-direction: column;
  
  
} */

.estruturaDesafios {
  width: 100%;
}


.corpodatabela-desafios {
    display: flex;
    flex-direction: column;
    padding: .8rem;
    align-content: center;


  }



.coluna-tabela-desafios{
  display: grid;
  grid-template-columns:33.3% 33.3% 33.3%;
  gap: 2.5rem;
  margin-top: 1.4rem;
  background-color: #e0cceb;
  border-radius: 8px;
  padding: 1rem;
}

  .coluna-tabela-desafios li{
    font-weight: 600;
    font-size: large;
}

.linha-tabela-desafios{
    display: grid;  
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 1rem;
    background-color: #EFE5F4;
    padding: .8rem; 
    margin-bottom: 0;

  }


.coluna-tabela-desafios > div {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.corpodatabela-desafios p{
  padding-left: 2.2rem;
  margin-bottom: 5%;
}


.checkdesafios{
  width: 5%;
  margin-left: 20%;
  margin-right: 15%;
  position: relative;
  right: 12.5rem;
  top: 0.6rem;
  object-fit:contain
}

.alvodesafios{
  width: 6%;
  margin-left: 20%;
  margin-right: 15%;
  position: relative;
  right: 10rem;
  top: 0.6rem;
  object-fit:contain

}

.descricao-desafio {
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 246, 246);
  padding: 10px 30px;
  text-align:justify;
  margin-top: 0rem;
  border: none;
  
  
}

.textoDesafios {
  font-size:0.8rem;
  position: relative;
  left: 0.5rem;
}




