.tablerecompensas {
    font-size: .9rem;
    
  }

  .coluna-tabela-recompensas{
    display: flex;
    justify-content: space-between;
    background-color: #e0cceb;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2.4rem;
}

.coluna-tabela-recompensas li{
  font-weight: 600;
  font-size: large;
}

.linha-tabela-recompensa{
  display: flex;
  justify-content: space-between;
  background-color: #EFE5F4;
  padding: .8rem;
  border: white solid;
}

.corpodatabela{
  display: flex;
  justify-content: space-between;
}
