.tablerecompensas {
    font-size: .9rem;
    margin-top: 2rem;
    width: 100%;
  }

  .titulodapagina {
    font-size: 1.5rem;
  }

  .coluna-tabela-recompensas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #e0cceb;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 2.4rem;
}

.coluna-tabela-recompensas li{
  font-weight: 600;
  font-size: large;
  text-align: center;
}

.linha-tabela-recompensa{
display: grid;  
grid-template-columns: 25% 25% 25% 15%;
gap: 1rem;
  background-color: #EFE5F4;
  padding: .8rem;
  border: white solid;
}

.corpodatabela{
  display: flex;
  justify-content: space-between;
}

.solicitar-recompensa{
  border: 1px solid #660099;
  border-radius: 10px;
  width: 100%;
  font-size: small;
  height: 35px;
  align-self: center;
  background-color: #eb3d7d;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.requer-nivel{
  border: 1px solid #660099;
  border-radius: 10px;
  width: 100%;
  font-size: small;
  height: 35px;
  align-self: center;
  background-color: #999999;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.solicitar-recompensa:hover{
  background-color: #660099;
}


.descricao-recompensa{
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 246, 246);
  padding: .8rem;
  border: white solid;

}

.textoRecompensa{
  font-size:0.8rem;
  position: relative;
  left: 2rem;
}



.tooltip {
  cursor: pointer;
}

.tooltip:hover {
  color: #660099; /* Muda a cor ao passar o mouse */
}

.precoRecompensa {
  position: relative;
  left: 1rem;
}

.DataResgateTitulo {
position: relative;
left: 7rem

}

.TituloRecompensaResgatada {
  position: relative;
left: 1rem
}

.DataResgate {
  position: relative;
left: 7rem;
}

.NomeRecompensaResgatada {
  position: relative;
left: 2.5rem
}




